<!DOCTYPE html>
<html>
<head>
    <title>channel</title>
     <link rel="stylesheet" type="text/css" href="/public/css/channel-page.css">

    <link rel="icon" type="image/png" href="/public/table/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/public/table/css/util.css">
    <link rel="stylesheet" type="text/css" href="/public/table/css/main.css">
</head>
<body>
    <div class="body">
    <div class="channel-header-inner">
        
            <h2 id="channel-name">{{channel.name}} channel</h2>
            <p>Genre: {{channel.genre}}, Date created: {{channel.date_created}}</p>
    
    </div>
    <div>
        <div class="video-frame">
            <iframe id="current-song" width="560" height="315" src='' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="button-row">
                <button id="prev">Prev</button>
                <button id="next">Next</button>
                <button id="autoplay">Autoplay: OFF</button>
                <button id="playlist">Playlist</button>
                <button id="add-song">+</button>
            </div>
        </div>
        <div class="info-container">
                <h2>Playlist</h2>
                <ol id="url-list">
                {{#each channel.queue as |song_obj|}}
                    <li id='{{song_obj.mp3_link}}'>{{song_obj.mp3_link}}</li>
                {{/each}}
                </ol>
                <ol id="name-list">
                {{#each channel.queue as |song_obj|}}
                    <li>{{song_obj.title}}</li>
                {{/each}}
                </ol>
        </div>
        <div class="info-container">
            <form id="add-song-form" method="POST" action="">
            <fieldset>
                <legend><h2>Add a song</h2></legend>
                <input type='text' name='song'><br>
                <br>
                <input type='submit' value='Add'><br>
            </fieldset>
            </form>
        </div>
    </div>
</div>
<script src="/public/js/channel-page.js"></script>
<script type="text/javascript">

    window.onload = function() {
        console.log("window loaded")
        socket.emit('new listener', "{{channel._id}}")
     //when user leaves a channel
    }
    window.onbeforeunload = function (e) {
        console.log("window unloaded")
        socket.emit('disconnected user', "{{channel._id}}")
        return null;
    }

    $(document).ready(function(){
     // set [urls] equal to every song url in the queue
     $('#url-list li').each(function(){
         urls.push($(this).attr('id'));
         console.log($(this).attr('id'));
     });
     $('#url-list').hide();

     // set channelName
     channelName = $('#channel-name').text().split(" ")[0];
     
     // set the iframe video to play the current song
     $('#current-song').attr('src', urls[currentSongIndex]);
     $('#add-song-form').attr('action', '/channel/'+"{{channel._id}}");
     $('.info-container').hide();
    console.log(urls);
    });

</script>
</body>
</html>



