<!DOCTYPE html>
<html>

<head>
    <title>Recently Added:</title>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">
    <script src="/public/js/main.js"></script>
    <!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="/public/table/images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/table/css/util.css">
    <link rel="stylesheet" type="text/css" href="/public/table/css/main.css">
<!--===============================================================================================-->
</head>
<body>
    <h2 id = "browse">Recently Added in last 30 Days: </h2>
    <div id = "browse-divider"></div>

    <br>
    
    <input type="search" id='search-element' placeholder="Search for a channel">

            <div class="wrap-table100">
                <div class="table100">
                    <table id = "channel_table">
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Channel</th>
                                <th class="column2">Date Created</th>
                                <th class="column3">Genre</th>
                                <th class = "column4">Active Listeners</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each channels}}
                                <tr onclick="location.href='/channel/{{this.name}}';">
                                    <td class = "column1">{{this.name}} </td>
                                    <td class = "column2">{{dateFormat this.date_created "dddd, MMMM Do YYYY"}}</td>
                                    <td class = "column3">{{this.genre}}</td>
                                    <td class ="column4">{{this.active}}</td>
                                </tr>
                            {{/each}}                 
                        </tbody>
                    </table>
                </div>
            </div>
    <script src="/public/table/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/public/vendor/bootstrap/js/popper.js"></script>
    <script src="/public/table/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/table/vendor/select2/select2.min.js"></script>
    <script src="/public/table/js/main.js"></script>
    <script src="/public/js/home.js"></script>



</body>

</html>